{
  "singleQuote": true,
  "semi": false,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 160,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "tabWidth": 2
}
